@media(max-width: 700px) {
    .showcase {
        height: 400px;

        h1 {
            font-size: 1.275rem;
        }

        &-content {
            text-align: center;
            display: flex;

            img {
                display: none;
            }

            h1 {
                font-size: 16px;
            }
        }
    }
}